@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  background-image: url(https://png.pngtree.com/thumb_back/fw800/back_our/20190620/ourmid/pngtree-chinese-wind-and-mountain-water-food-health-psd-layered-main-map-image_166068.jpg);
  background-attachment: fixed;
  background-size: cover;
}
html,
body {
  margin: 0;
  height: 100%;
}
* {
  box-sizing: border-box;
}
/* -----------> header <------------- */
header {
  background-color: rgba(199, 177, 184, 0.475);
  padding: 25px 0;
  position: relative;
  box-shadow: 0 10px 8px 0 rgba(134, 134, 134, 0.25);
  width: 100%;
  display: flex;
  justify-content: center;
}

.columna {
  width: 100%;
  max-width: 1100px;
}
/* ------->seccion de navegacion <--------*/
.nav-header {
  display: flex;
  justify-content: flex-end;
}
.nav-links {
  display: flex;
  margin: 0;
}
ul {
  list-style: none;
  padding: 0px;
}
ul li {
  line-height: 1.4;
}
.link-item {
  margin: 0 15px;
}
li {
  font-weight: 500;
}
.link {
  line-height: 2.5;
}
a {
  text-decoration: none;
  display: block;
  color: #2e2e31;
}
.link-boton {
  line-height: 2.5;
}
.selected {
  background-color: #ff638a;
  color: white;
  padding: 0px 25px;
  border-radius: 100px;
}
/* icono hamburguesa */
.menu-hamburguesa {
  display: none;
}
button {
  border: 0;
  background-color: transparent;
  font-size: 1em;
  font-family: "Montserrat", sans-serif;
  color: #2e2e31;
  cursor: pointer;
}
.fas .fa-bars {
  font-weight: 900;
}
/* ------->seccion presentacion <------- */
.section {
  display: flex;
  justify-content: center;
  padding: 100px 40px 120px;
  text-align: center;
}
.contenedor-presentacion {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.caja-informacion {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}
p {
  line-height: 1.4;
}
.saludo {
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 5px;
  font-weight: 800;
}
.nombre {
  font-family: "Lobster", cursive;
  margin-top: 0px;
  margin-bottom: 5px;
  color: #ff638a;
}
h1 {
  font-size: 60px;
  font-weight: 900;
}
h1,
h2 {
  color: black;
  line-height: 1.2;
}
.descripcion {
  color: #5d6271;
  font-size: 25px;
  margin-bottom: 40px;
}
.button {
  background-color: #ff638a;
  color: white;
  padding: 15px 40px;
  border-radius: 100px;
  font-weight: 500;
  display: flex;
  justify-content: start;
  align-items: center;
}
.caja-imagen {
  display: block;
  width: 100%;
  max-width: 500px;
}
.imagen {
  border-radius: 10%;
  max-width: 500px;
  /* elimino altura porque me modifica en width:600px */
  /* height: 450px; */
}
img {
  display: block;
  width: 100%;
}
/* --------->seccion conocimientos <-------- */

.conocimientos {
  background-color: #f6f7fb;
}
.caja-conocimientos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h2 {
  font-size: 50px;
  font-weight: 900;
}
.parrafo-conocimientos {
  max-width: 400px;
  font-weight: 500;
}
.contenedor-box {
  justify-content: center;
}
.caja {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

.box {
  background-color: white;
  padding: 40px 40px;
  border: 1px solid #dddfe5;
  box-shadow: 0 0 29px 0 rgba(134, 134, 134, 0.25);
  border-radius: 10px;
  width: 260px;
  /* height: 230px; */
  margin: 10px;
}
.box-icono {
  font-size: 75px;
  margin-top: 24px;
  margin-bottom: 20px;
  display: block;
}
.box-parrafo {
  font-size: 18px;
}

/* -------->seccion cita<------- */
.cita {
  background-color: #ff638a;
  color: white;
  font-family: serif;
  font-style: italic;
}
.contenido-cita {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.quote-icon {
  font-size: 80px;
  margin-bottom: 20px;
  font-weight: 900;
}
.cita-autor {
  max-width: 800px;
  font-size: 25px;
}
h3 {
  font-size: 35px;
  margin-bottom: 0;
}
/* ----------->seccion proyectos <------------- */
.contenido-proyecto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.proyecto-filtros {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.filtro {
  line-height: 2.5;
  margin: 8px 0;
  padding: 0 30px;
}
.proyectos {
  width: 100%;
}
.proyecto {
  width: 300px;
  margin: 12px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 20px;
  overflow: hidden;
}
.cajita {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin: 0;
}
.contenedor {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}
.nombre-cajita {
  font-weight: 600;
  margin-top: 20px;
}

/* ----------->footer <------------- */

footer {
  background-color: #ff638a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 20px;
  color: white;
}
/* footer menu de navegacion */
.footer-nav-menu {
  display: flex;
  margin: 0;
}
.menu-item {
  margin: 0 10px;
}
.menu-item-link {
  font-size: 16px;
  color: white;
}
/* footer iconos de redes sociales */
.footer-social {
  display: flex;
  margin: 30px 0;
}
.footer-social-icon {
  width: 50px;
  height: 50px;
  background-color: white;
  color: #ff638a;
  border-radius: 50%;
  margin: 10px;
  font-size: 20px;
  text-align: center;
  padding: 14px;
}

/* ¡¡¡¡¡¡¡¡ MEDIAS QUERIES !!!!!!! */
/* ----------------------------- */
@media (max-width: 600px) {
  /* header */
  header {
    padding: 0 20px;
  }
  .menu-contenedor {
    display: flex;
    justify-content: flex-end;
  }
  /* seccion presentacion */
  .section {
    padding: 80px 10px;
  }
  .saludo {
    font-size: 25px;
    margin-bottom: 10px;
  }
  .nombre {
    font-size: 45px;
    margin-bottom: 15px;
    margin-top: 10px;
  }
  .descripcion {
    font-size: 16px;
  }
  .button {
    padding: 12px 25px;
  }
  .imagen {
    margin-top: 30px;
  }

  /* seccion conocimientos */
  h2 {
    font-size: 40px;
  }
  .box {
    width: 140px;
    padding: 10px;
    margin: 5px;
  }
  .box-parrafo {
    font-size: 16px;
  }
  /* seccion cita */
  .box-icono {
    font-size: 40px;
  }
  .cita-autor {
    font-size: 20px;
    margin: 0;
  }
  h3 {
    font-size: 30px;
  }

  /* seccion proyectos */
  .proyecto {
    width: 100%;
  }
  .proyecto-filtros {
    flex-wrap: wrap;
  }
  .filtro {
    margin: 8px 0;
    font-size: 14px;
    line-height: 2;
    padding: 0 20px;
  }
  .footer-social {
    margin-top: 10px;
  }
}
/* ------------------------------- */
@media (max-width: 900px) {
  /* header */
  .nav-header {
    display: none;
  }
  .menu-hamburguesa {
    display: block;
    font-size: 25px;
    margin: 15px;
    cursor: pointer;
  }
  .menu-contenedor {
    display: flex;
    justify-content: flex-end;
  }
  /* seccion presentacion */
  .columna {
    max-width: 100%;
  }
  .contenedor-presentacion {
    flex-direction: column;
  }
  .presentacion {
    width: 100%;
  }
  .caja-informacion {
    align-items: center;
    text-align: center;
  }
  .caja-imagen {
    width: 90%;
  }
  /* seccion foooter */
  footer {
    padding: 50px 30px;
  }
  .footer-nav {
    display: none;
  }
}
/* <----------- min:600px and max:900px ------------- */
@media (min-width: 600px) and (max-width: 900px) {
  /* seccion header */
  header {
    padding: 5px 20px;
  }
  /* seccion presentacion */
  .section {
    padding: 80px 20px;
  }
  .contenedor-presentacion {
    flex-direction: column;
  }
  .caja-informacion {
    margin-bottom: 30px;
  }
  /* seccion proyectos */
  .proyecto {
    width: 45%;
    margin: 12px;
  }
  /* seccion footer */
  footer {
    padding: 60px 20px;
  }
  .footer-nav {
    display: none;
  }
}
/* <---------------min:600px-----------------> */
@media (min-width: 600px) {
  .imagen {
    height: 450px;
  }
}
